:root{
    --main-color: #93B5C6;
    --darker-main-color: #889daad2;
    --dark-main-color:#889daad0;
    --background-color: #93b5c65b;
    --nav-footer-color: #4b7185;
    --hover-color: #5d8ba3;
    --white-color-nav: #ffffff;
}



h1, h3, h5 {
    color: var(--main-color);
}


/* Nav Bar */

.navbar {
    padding: 0;
}

.navbar a {
    font-weight: 500;
    color: var(--nav-footer-color);
}
.navbar a:hover {
    color: var(--hover-color);
}

#navbarNav {
    justify-content: flex-end;
}

.nav-item {
    text-align: center;
}

.container-fluid {
    padding: 8px;
    background: linear-gradient(
        to right, 
        var(--white-color-nav) 0%, 
        var(--dark-main-color) 50%, 
        var(--darker-main-color) 50%, 
        var(--main-color) 100%
    );
}


/* Main */

main {
    padding: 50px 20px;
}
section {
    padding: 50px 20px;
 }

/* About me */

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-photo {
    padding: 50px;
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
}

.my-photo img {
    border-radius: 100%;
    width: 200px;
}


/* What I Do */

.what-i-do {
    flex: 1;
    padding: 50px 40px;
}

.what-i-do h3 {
    text-align: center;
}


/* Personal Data */

.personal-data {
    flex: 1;
    text-align: center;
    padding: 50px 20px;
}

.personal-data table {
    width: 100%;
}

.personal-data th {
    white-space: nowrap;
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
    color: var(--main-color);
}

.personal-data td {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

/* project */

.my-projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


/* Project */
.project {
    display: flex;
    flex-direction: row;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}



.project-info {
    text-align: center;
    flex: 1;
    padding: 100px;
}

.project-info p {
    margin-top: 20px;
}

.project-info p a {
    text-decoration: none;
    color: var(--main-color);
}

.pswp-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 20px;
}

.pswp-gallery a {
    margin: 10px;
}

.pswp-gallery img{
   border: 3px solid var(--dark-main-color);
   width: 200px;
   height: 150px;
   object-fit: cover;
}

/* Contact me */

.contact-me .contact {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-top: 50px;
}

.contact-me .contact a {
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-main-color);
    padding: 5px;
    font-size: x-large;
    margin: 10px;
}

/* footer */

.footer-copyright {
    background-color: var(--darker-main-color);
    padding: 10px;
}
.footer-copyright p{
    color: var(--nav-footer-color);
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
}

/* For Medium Screens */

@media screen and (max-width: 1000px) {
    .about-me {
        flex-direction: column;
    }

    .personal-data table {
        margin: auto;
    }

    .project,
    .project:nth-child(even) {
        flex-direction: column;
    }
    .project .project-info  {
        margin-top: 40px;
        padding: 0;
    }
    .project .pswp-gallery {
        margin-top: 30px;
    }   
}


/* For Small Screens */

@media screen and (max-width: 400px) {
    main {
        padding: 20px 5px;
    }
    .my-photo {
        padding-left: 0;
        padding-right: 0;
    }
    .what-i-do {
        margin-top: 40px;
        padding: 10px;
        text-align: center;
    }
    .contact-me .contact a {
        margin: 2px;
    }

}

